In [20]:
import pandas as pd
data_directory = '../../../Data/PriorityPlacesData/'

In [21]:
scot_dz = pd.read_csv(data_directory + 'SG_DataZones_Centroids_2011.csv')
ew_lsoa = pd.read_csv(data_directory + 'Lower_layer_Super_Output_Areas_(December_2011)_Population_Weighted_Centroids_WGS.csv')
pp_data = pd.read_csv(data_directory + 'priority_places_v0_2_decile_domains.csv')

In [22]:
pp_data = pp_data.merge(ew_lsoa, left_on='geo_code', right_on='lsoa11cd', how='left')

In [23]:
pp_data = pp_data.merge(scot_dz, left_on='geo_code', right_on='DataZone', how='left')

In [24]:
pp_data['longitude'] = pp_data['longitude_x'].fillna(pp_data['longitude_y'])
pp_data['latitude'] = pp_data['latitude_x'].fillna(pp_data['latitude_y'])

In [25]:
pp_data[['geo_code', 'longitude', 'latitude'] + pp_data.columns[pp_data.columns.str.startswith('domain')].tolist() + ['combined']]

,geo_code,longitude,latitude,domain_supermarket_proximity,domain_supermarket_transport,domain_ecommerce_access,domain_socio_demographic,domain_nonsupermarket_proximity,domain_food_for_families,domain_fuel_poverty,combined
0,E01003513,0.045915,51.513348,6,9,10,9,8,10,2,10
1,E01003630,0.013900,51.533718,2,7,8,3,9,9,1,4
2,E01003617,0.001566,51.545061,10,9,10,1,10,10,1,7
3,E01003497,0.008449,51.520488,8,7,8,3,9,9,1,6
4,E01003499,0.021817,51.523869,10,10,2,1,9,7,1,2
...,...,...,...,...,...,...,...,...,...,...,...
41723,S01012412,-1.449147,60.487709,1,1,2,8,1,1,2,1
41724,S01012413,-1.076407,60.598739,1,1,2,5,2,1,2,1
41725,S01012414,-0.860016,60.757838,1,1,2,4,1,1,2,1
41726,S01012415,-1.019186,60.344683,1,1,2,9,1,2,2,1
41727,S01012416,-0.994725,60.364766,1,1,2,7,1,1,2,1

In [26]:
pp_data = pp_data[['geo_code', 'longitude', 'latitude'] + pp_data.columns[pp_data.columns.str.startswith('domain')].tolist() + ['combined']]

In [27]:
pp_data.to_csv(data_directory + 'priority_places_v0_2_decile_domains_WGS.csv')