In [4]:
import geopandas as gpd
import pandas as pd

In [6]:
df = pd.read_csv('../../../Data/PriorityPlacesData/Lower_layer_Super_Output_Areas_(December_2011)_Population_Weighted_Centroids.csv')

In [9]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['X'], df['Y']), crs='EPSG:27700')

In [14]:
gdf = gdf.to_crs(4326)
gdf['longitude'] = gdf.geometry.x
gdf['latitude'] = gdf.geometry.y
gdf[['longitude', 'latitude', 'objectid', 'lsoa11cd', 'lsoa11nm']].to_csv('../../../Data/PriorityPlacesData/Lower_layer_Super_Output_Areas_(December_2011)_Population_Weighted_Centroids_WGS.csv', index=False)

In [13]:
gdf[['longitude', 'latitude', 'objectid', 'lsoa11cd', 'lsoa11nm']]

       longitude   latitude  objectid   lsoa11cd            lsoa11nm
0      -1.242212  54.546039         1  E01012007  Middlesbrough 012A
1      -1.201874  54.550814         2  E01012085  Middlesbrough 010D
2      -1.246544  54.698549         3  E01012005     Hartlepool 014G
3      -1.197891  54.553077         4  E01012084  Middlesbrough 010C
4      -1.232572  54.692027         5  E01012002     Hartlepool 006D
...          ...        ...       ...        ...                 ...
34748  -2.939299  53.109730     34749  W01000417        Wrexham 020D
34749  -3.140498  52.661993     34750  W01000499          Powys 003B
34750  -3.158972  51.490661     34751  W01001833        Cardiff 033D
34751  -4.043915  51.645623     34752  W01000779        Swansea 012D
34752  -3.706367  51.482431     34753  W01001047       Bridgend 018D

[34753 rows x 5 columns]